<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminder Form</title>
</head>
<body>
    <h1>Reminder Form</h1>
    <form action="process_form" method="post">
        <label for="tenant_name">Tenant Name:</label>
        <input type="text" id="tenant_name" name="tenant_name" required><br><br>

        <label for="tenant_phone_number">Tenant Phone Number:</label>
        <input type="text" id="tenant_phone_number" name="tenant_phone_number" required><br><br>
        
        <label for="rent_amount">Rent Amount:</label><br>
        <input type="number" id="rent_amount"  name="rent_amount" required></textarea><br><br>
        
        <label for="rent_period_in_months">Rent Period:</label><br>
        <select id="rent_period_in_months" name="rent_period_in_months"><br><br>
            <option value= 1 >Every month</option>option>
            <option value= 6 >Every 6 months</option>
            <option value= 12 >Every 12 months</option>
        </select>
        <br><br>

        <label for="date_of_initial_payment">Start Date:</label>
        <input type="date" id="date_of_initial_payment" name="date_of_initial_payment" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
