<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminder Form</title>
</head>
<body>
    <h1>Reminder Form</h1>
    <form action="process_form" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="name">Reminder Name:</label>
        <input type="text" id="reminder_name" name="reminder_name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>
        
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required><br><br>
        
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required><br><br>
        
        <label for="reminder_interval">How often would you like to recieve reminders?</label><br>
        <select id="reminder_interval" name="reminder_interval">
            <option value= 7 >Everyday from a week</option>
            <option value= 1 >A day before</option>
        </select>
        <br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
